# Composer
vendor/

# Compiled CSS
static/css/
static/themes/voxelmanip_retro/style.css

# Cache
templates/cache/

# Userpics
static/userpic/*
!static/userpic/.gitkeep

# Config directory
conf/*
!conf/config.sample.php
!conf/faq.sample.php

# Cluttered drawer of stuff
contrib/
